* {
    @include vendor(box-sizing, border-box);
}

body {
    font-family: 'Roboto Slab', 'Georgia', 'Cambria', 'Liberation Serif', Times, serif;
    overflow: hidden;
    color: rgba(white, 0.75);
    text-shadow: 5px 5px 25px rgba(black, 0.75);
    background: $pink;
}

a {
    text-decoration: none;

    @media screen and (max-width: 998px) {
        display: inline-block;
        min: {
            height: 48px;
            width: 48px;
        }

        padding: {
            top: 15px;
            bottom: 15px;
        }
    }

    &:link,
    &:visited {
        @include transition;
        color: inherit;
    }

    &:hover,
    &:active {
        @include transition;
        color: $pink;
    }
}
