body.idle,
body.modal-active {
    @include transition;

    #credits,
    #modal-links,
    #social {
        @include transition;
        opacity: 0;
        pointer-events: none;
    }
}

body.idle {
    cursor: none !important;

    #idle {
        @include transition(all 0.25 ease 0.5);
        opacity: 1;
    }
}

body.modal-active {
    #idle {
        @include transition(all 0.25 ease 0.5);
        opacity: 0;
    }
}

#idle {
    @include transition;

    position: absolute;
    top: auto;
    left: auto;
    right: 40px;
    bottom: 20px;
    z-index: 5;

    opacity: 0;
    pointer-events: none;

    color: rgba(white, 0.5);
    font-size: 2em;
}
