// PFUDOR.tk Stylesheet -- Generator

@import 'vars';

body {
    margin: 15px 25px;
    border: none;
    font-family: $ff;
    background: $solidpink;
    color: white;
}

a:link,
a:visited {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.close {
    cursor: pointer;
    font-weight: bold;
}
