// PFUDOR.tk Stylesheet -- Overlay

#overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $transp;
    z-index: 1;
}

#credits {
    @extend #overlay;
    z-index: 2;
    padding: 15px 25px;
    min-height: 100px;
}

#ref {
    background: $transp;
    z-index: 2;
}

#ref a {
    cursor: pointer;
}

#social {
    position: fixed;
    bottom: 15px;
    right: 25px;
    text-align: right;
    z-index: 2;
}
